.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  #logo {
    width: 20vw;
    object-fit: scale-down;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .icons {
    margin: 0 0 2rem;
    .iconfont {
      font-size: 3rem;
      margin: 0.5rem;
    }
  }
  .info {
    text-align: center;
    text-transform: capitalize;
  }
}
